torch==2.4.1
torchvision
setuptools==78.1.1
Cython==0.29.35
numpy==1.23.5
scipy==1.10.1
scikit-learn==1.3.2
matplotlib
seaborn
h5py
patchelf==0.17.2.0
zarr==2.12.0
wandb
ipdb
gpustat
dm_control
omegaconf
hydra-core==1.2.0
hydra-colorlog
dill==0.3.5.1
moviepy 
imageio
pydantic
av 
termcolor
kaleido
plotly
sapien==3.0.0b1
gymnasium==0.29.1
torchdiffeq
decorator==4.0.2
gpustat==1.1.1
kornia
mplib==0.2.1
natsort
open3d
opencv-python==4.5.5.64
transforms3d==0.4.2
trimesh==4.4.3
transformers==4.46.1
tqdm==4.66.5
tenacity==9.0.0
tabulate==0.9.0
shortuuid==1.0.13
ftfy
safetensors==0.4.5
regex==2024.9.11
openai==1.54.3
numba==0.61.2
gdown==5.2.0
einops==0.8.1
azure==4.0.0
azure-ai-inference
pyglet<2
huggingface_hub==0.25.0
sentence-transformers
torchsde
timm
ninja
deepspeed==0.15.1
accelerate==0.34.2
diffusers==0.27.2
sentencepiece==0.2.0
pytest